# Игнорировать директории сборки
/build/
/build*/

# Игнорировать CMake файлы
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile

# Игнорировать выходные артефакты (собранные исполняемые файлы, библиотеки)
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.lib
*.a

# Игнорировать файлы журналов и временные файлы
*.log
*.tmp
*.bak
*.swp
*.swp.*
*~

# Игнорировать файлы CLion и других IDE
.idea/
.vscode/
*.user
*.workspace
*.sln
*.vcxproj*

.DS_Store
*cmake-build-debug/
Google_tests/lib/